
    .img {
      width: 100%;
      height: 100%
    }
   
    .px-2 {
      padding-left: 50px !important;
      padding-right: 50px !important;
      
    }
    .px-3 {
      padding-left: 150px !important;
      padding-right: 150px !important;
      
    }
    body {
      font-family: "Work Sans"
    }

    .font-colored {
      color: rgb(46, 46, 184);
      font-size: 20px;
    }
    
    